<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="row justify-content-center" data-masonry='{"percentPosition": true }'>
                    {% if site.data.profile.education %}
                    <div class="col-12">
                        <div class="mx-3 my-2">
                            <h5 class="mb-3 text-left">Education</h5>
                            <ul class="list-unstyled">
                                {% for item in site.data.profile.education %}
                                <li class="media mb-4">
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 48px;" class="mr-3 rounded">
                                    <div class="media-body">
                                        <h6 class="mb-1">{{ item.name }}</h6>
                                        <div class="small text-muted">{{ item.dept }}</div>
                                        <div class="small d-flex align-items-center mt-1">
                                            <span>{{ item.position }}</span>
                                            <span class="ml-auto text-muted"><em>{{ item.date }}</em></span>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
